body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather'sans-serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', sans-serif;
  font-weight: bold;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #11999E;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
p{
  line-height: 2;
}
a{
  color: #1199E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;

}
a:hover{
  color: #EAF6F6;
}
.firstparagraph {
  font-size: 2.5rem;
  font-weight: normal;
}
.intro-paragraph{
  color: #40514E;
  width: 30%;
  margin: auto;
  text-align: left;
}
.intro{

}
.top-container {
  background-color: #E4F6F6;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  margin-bottom: 0;
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.footer-link {
  color: #11999E;
}
.skills{
  margin-top: 60px;
}
.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}

.data-science{
  width: 30%;
  border-radius: 70%;
  float: left;
  margin-right: 30px;
}
.Web-design{
  width: 30%;
  border-radius: 70%;
  float: right;
  margin-left: 30px;
}
.physie-png{
  border-radius: 60%;
}
.contact-me{
  width: 40%;
  margin: 40px auto 15px auto;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0 20px 0;
}
.myButton {
	background-color:#7892c2;
	border-radius:8px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:-1px -3px 20px #283966;
}
.myButton:hover {
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}
